[mysql]
bind-address=0.0.0.0
general_log_file = /var/www/logs/mysql.log
general_log = 1
port=3306

[mysqld]
default-authentication-plugin=mysql_native_password
bind-address=0.0.0.0
general_log_file = /var/www/logs/mysql.log
general_log = 1
port=3306